body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#user-info,
#opponent-info {
    font-weight: bold;
}


#player-info {
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 1em;
}

button {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}

#loading {
    max-width: 50px;
    max-height: 50px;
}

#turn-info {
    font-weight: bold;
}

#board {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 40px;
    width: 40px;
    position: relative;
}

.square svg {
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: rgb(210, 205, 137);
}

.grey {
    background-color: rgb(91, 83, 60);
}

.black {
    fill: black
}

.white {
    fill: rgb(227, 220, 189);
}

.modal {
    display: none;
    position: fixed;
    font-size: 15px;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.0);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 2% 7% 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25vw;
    height: 25vw;
    box-sizing: border-box;
    overflow: auto;
}

.close {
    color: #aaa;
    float: right;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}